@{
    ViewBag.Title = "Contenido no encontrado";
}
<div class="hero mdl-typography--text-center">
        <h1>:-( <small>No pude encontrar lo que estabas buscando...</small></h1>

       
</div>
<div class="container">
     <p>
            pero te <strong>recomiendo</strong> que pruebes con <br />
            @foreach (var especialidad in MVPStream.Models.Data.Especialidades.All)
            {
                <a href="/busqueda?q=@System.Uri.EscapeUriString(especialidad.GetNombre())">@especialidad.GetNombre()</a>
            }
        </p>
</div>